<div class="contenedor-principal">
 <h1>Compra finalizada</h1>
    <div>
        <ul>
        {{#each purchase}}
            <li>
                <strong>Código: {{this.code}}</strong> <br>
                <strong>Fecha de Compra:</strong> {{this.purchase_datetime}} <br>
                <strong>Monto:</strong> {{this.amount}} <br>
                <strong>Comprador:</strong> {{this.purchaser}} <br>                
            </li>

        {{/each}}
    </ul>
    <a typy> </a>
    <a type="button" class="button-scd"   href="/api/products">Volver a la Tienda</a>
    
    </div>
    
</div>
   